
    <!-- <input type="hidden" value="{{charities._id}}" name="charityId"> -->
    <fieldset>
      <legend>Edit Charity</legend>
      <!-- TITLE -->
      <div class="form-group">
        <label for="charity-title">Organization:</label><br>
        <input class="form-control" id="charity-title" type="text" name="org" value="{{charity.org}}"/>
      </div>
    </fieldset>
