<fieldset>
  <legend>Edit Charity</legend>
  <!-- TITLE -->
  <p>
    <label for="charity-title">Org</label><br>
    <input id="charity-title" type="text" name="org" value="{{charity.org}}"/>
  </p>
</fieldset>
