<form action="/charities/donations" method="post">
<input type="hidden" value="{{charity._id}}" name="charityId">
  <fieldset>
    <legend>Add a Donation</legend>
    <!-- TITLE -->
    <div class="form-group">
      <label for="donation-date">Date</label><br>
      <input class="form-control"
        id="donation-date"
        type="date"
        name="date"
        value="{{donation.date}}"/>
    </div>

    <!-- DESCRIPTION -->
    <div class="form-group">
      <label for="donation-amount">Amount</label><br>
      <textarea class="form-control"
      id="donation-amount"
      type="text"
      name="amount"
      rows="4"
      placeholder="Donation Amount"
      value="{{donation.amount}}"/></textarea>
    </div>
  </fieldset>

  <!-- BUTTON -->
  <div class="form-group">
    <button class="btn btn-primary" type="submit">Add Donation</button>
  </div>
</form>
