<form method="POST" action="/chairities">
  <fieldset>
    <legend>New Charity</legend>
    <!-- TITLE -->
    <p>
      <label for="org">Organization</label><br>
      <input type="text" name="org" />
    </p>
  </fieldset>

  <!-- BUTTON -->
  <p>
    <button type="submit">Save Charity</button>
  </p>

</form>
